[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/projet-nsi
ExecStart=sudo gunicorn --workers 3 --bind unix:/var/www/projet.sock app:app

[Install]
WantedBy=multi-user.target
