.delete {
    display: inline-block;
    vertical-align: left;
}

.download {
    display: inline-block;
    vertical-align: left;
}

.item_name {
    display: inline-block;
    vertical-align: left;
    margin-right: 10px;
}

.items {
    list-style: none;
}

#content {
    height: 500px;
    width: 1000px;
}

.item_name {
    text-decoration: none;
    color: black;
}

.item_name:hover {
    color: #232323;
    text-decoration: underline;
}
