/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Ubuntu&display=swap');
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Ubuntu';
}
a {
    text-decoration: none;
    color: black;
}

.material-icons.md-18 { font-size: 18px; }


.log_reg_form {
    text-align: center;
}

.log_reg_form input {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.log_reg_form button {
    background-color: #1167b8;
    border: 1px solid #1167b8;
    border-radius: 3px;
    padding: 5px;
    color: white;

}
.log_reg_form button:hover {
    transition: 0.3s;
    background-color: #04315c;
    border-color: #04315c;
}

.logout:hover {
    color: lightgray;
}


.item_name {
    margin-right: 10px;
}

.items {
    list-style: none;
    margin: 1% 1% 0 1%;
    padding-left: 0;
}

#content {
    height: 85vh;
    width: 98vw;
}

.item_name {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.item {
    display: flex;
    align-items: center;
    border: 1 solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    margin-left: 0;
    width: auto;
}

.item_name:hover {
    color: #232323;
    text-decoration: underline;
}


.rename {
    transition: 0.3s;
    background-color: #ebebeb;
    border-radius: 5px;
    display: none;
}

.rename_btn {
    border: none;
    background-color: transparent;
}

#search {
    text-align: center;
    background: #1167b8;
    padding: 0;
}

#search_input {
    border: 2px transparent solid;
    background: #1167b8;
    color: white;
    margin: 0;
    height: 30px;
}

#search_input::placeholder {
    color: lightgray;
}

#search_input:hover {
    transition: 0.3s;
    background: #04315c;
}

#submit_query {
    display: inline-block;
    border: none;
    background: #1167b8;
    color: white;
}

#submit_query:hover {
    transition: 0.3s;
    color: lightgray;
}

.logout {
    text-decoration: none;
    color: white;
}

h4 {
    margin-bottom: 5px;
}

.connect-button {
    margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: white;
    }
    .item {
        border: 1 solid #262626;
        background-color: #262626;
    }
    p {
        color: white;
    }
    a {
        color: white;
    }
    .item_name {
        color: white;
    }
    .rename {
        background-color: #262626;
    }
    .item_name:hover {
        color: lightgray;
    }
    input {
        background-color: #131313;
        border: 1px solid black;
        color: white;
    }
    button {
        background-color: #131313;
        border: 1px solid black;
        color: white;
    }
    span {
        color: white;
    }
}
