body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.delete img {
    align: middle;
}

.download img {
    align: middle;
}

.item_name {
    margin-right: 10px;
}

.items {
    list-style: none;
    margin: 1% 1% 0 1%;
    padding-left: 0;
}

#content {
    height: 85vh;
    width: 98vw;
}

.item_name {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.item {
    display: flex;
    align-items: center;
    border: 1 solid #e0e0e0;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    margin-left: 0;
    width: auto;
}

.item_name:hover {
    color: #232323;
    text-decoration: underline;
}

.folder {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    align: middle;
}

#search {
    text-align: center;
    background: #1167b8;
}

#search_input {
    border-style: solid;
    border-color: #04315c;
    border-width: 1;
    background: #1167b8;
    color: white;
}

#search_input:hover {
    transition: 0.3s;
    background: #04315c;
}

#submit_query {
    border-style: solid;
    border-color: #04315c;
    border-width: 1;
    background: #1167b8;
    color: white;
}

#submit_query:hover {
    transition: 0.3s;
    background: #04315c;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}
