<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>File Upload</title>
</head>
<body>
    <div id="search">
    <form action="/search" method="POST" id="form_file">
        <input type="text" placeholder="Recherche..." name="sb" id="search_input" />
        <button type="submit" value="submit" id="submit_query">Rechercher</button>
    </form>
    </div>
    <form action = "/add" method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "files[]" id="getFile" multiple="true" required autocomplete="off" />
        <br>
        <button type = "submit" >Envoyer</button>
    </form>
    <form action = "/newfolder" method = "POST">
        <input type = "text" name = "folder_input" placeholder="Nouveau dossier" />
        <button type = "submit" >Créer</button>
    </form>
    <ul class="items">
        <li class="item">
            <p class="item_name">Emplacement acutel : {{ path }}</p>
        </li>
        <li class="item">
            <a class="item_name" href="/return">Répertoire précédent</a>
        </li>
        {% for item in files %}
        <li class="item">
            <a class="item_name" href="/edit/{{ item }}"><img class="folder" src="{{ url_for('static', filename='document.png') }}"></img>{{ item }}</a>
            <a class="delete" href="/remove/{{item}}">
                <img src="{{ url_for('static', filename='trash.png') }}" width="15px" height="15px"></img>
            </a>
            <a class="download" href="/download/{{item}}">
                <img src="{{ url_for('static', filename='download.png') }}" width="15px" height="15px"></img>
            </a>
        </li>
        {% endfor %}
        {% for item in folders %}
        <li class="item">
            <a class="item_name" href="/goto/{{ item }}"><img class="folder" src="{{ url_for('static', filename='folder.png') }}"></img>{{ item }}</a>
            <a class="delete" href="/remove/{{item}}">
                <img src="{{ url_for('static', filename='trash.png') }}" width="15px" height="15px"></img>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
