<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <title>File Upload</title>
</head>
<body>
    {% include 'nav.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action = "/add" method = "POST" enctype = "multipart/form-data">
        <label for="getFile" class="material-icons md-white">upload_file</label>
        <input type="file" name="files[]" id="getFile" multiple="true" onchange="FileSelected(document.getElementById('getFile').files)"/>
        <ul id="file_list"></ul>
        <button class="margin-left-1" type="reset" onclick="FileSelected([])">Reset</button>
        <button type="submit">Envoyer</button>
    </form>
    <br>
    <form action="/newfolder" method="POST">
        <input class="margin-left-1 vert-align folder_input" type="text" name="folder_input" placeholder="Nouveau dossier"/>
        <button type="submit" class="button-icon">
            <span class="material-icons md-white vert-align">create_new_folder</span>
        </button>
    </form>
    <ul class="items">
        <li class="item">
            <p>Emplacement acutel : {{ path }}</p>
        </li>
        {% if path != "/" %}
        <li class="item">
            <a href="/return">Répertoire précédent</a>
        </li>
        {% endif %}
        {% for item in folders %}
        <li class="item">
            <a style="align: middle; margin-right: 10px;">
                <span class="material-icons md-15">folder</span>
            </a>
            <a class="item_name" href="/goto/{{ item }}">{{ item }}</a>
            <a class="item_icon">
                <button class="rename_btn" onclick="show_rename('delete_{{item}}')">
                    <span class="material-icons md-dark">delete</span>
                </button>
            </a>
            <a class="item_icon" href="/folder_dl/{{item}}">
                <span class="material-icons md-dark">file_download</span>
            </a>
            <a class="item_icon" >
                <button onclick="show_rename('rename_{{item}}')" class="rename_btn">
                    <span class="material-icons md-dark">drive_file_rename_outline</span>
                </button>
            </a>
        </li>
        <div class="rename" id="rename_{{item}}">
            <form action="/rename/{{ item }}" method="POST">
                <input type="text" name="new_name" placeholder="Nouveau nom" required/>
                <input type="submit"/>
            </form>
        </div>
        <div class="rename" id="delete_{{item}}">
            <a href="/remove/{{item}}"><button onclick="show_rename('delete_{{item}}')"><span class="material-icons vert-align">done</span>Supprimer</button></a>
            <button onclick="show_rename('delete_{{item}}')"><span class="material-icons vert-align">close</span>Annuler</button>
        </div>
        {% endfor %}
        {% for item in files %}
        <li class="item">
            <a style="align: middle; margin-right: 10px;">
                <span class="material-icons">description</span>
            </a>
            <a class="item_name" href="/edit/{{ item }}">{{ item }}</a>
            <a>
                <button class="rename_btn" onclick="show_rename('delete_{{item}}')">
                    <span class="material-icons md-dark">delete</span>
                </button>
            </a>
            <a href="/download/{{item}}">
                <span class="material-icons">file_download</span>
            </a>
            <a>
                <button onclick="show_rename('rename_{{item}}')" class="rename_btn">
                    <span class="material-icons md-dark">drive_file_rename_outline</span>
                </button>
            </a>
        </li>
        <div class="rename" id="rename_{{item}}">
            <form action="/rename/{{ item }}" method="POST">
                <input type="text" name="new_name" placeholder="Nouveau nom" required/>
                <input type="submit"/>
            </form>
        </div>
        <div class="rename" id="delete_{{item}}">
            <a href="/remove/{{item}}"><button onclick="show_rename('delete_{{item}}')"><span class="material-icons vert-align">done</span>Supprimer</button></a>
            <button onclick="show_rename('delete_{{item}}')"><span class="material-icons vert-align">close</span>Annuler</button>
        </div>
        {% endfor %}
    </ul>
</body>
</html>
